@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Hello, welcome to Josh's Assignment!</h2>
    <p>Click on the Privacy Tab above to see the <b>current DateTime.</b></p>
</div>
